<div class="rm">
{{ with index . "paper_title" }}
  {{ if .ja }}<h5 class="pubTitle">{{ .ja }}</h5>
  {{ else }}<h5 class="pubTitle">{{ .en }}</h5>{{ end }}
{{ end }}
{{ with .authors }}
  <p class="authors">
  {{ if and (eq (page.Language.Lang) "ja") (.ja) }}
    {{ range $k, $v := .ja }}{{ if $k }}, {{ end }}{{ .name }}{{ end }}
  {{ else }}
    {{ range $k, $v := .en }}{{ if $k }}, {{ end }}{{ .name }}{{ end }}
  {{ end }}
  </p>
{{ end }}
<p class="pubDetail">
{{ with index . "publication_name" }}
  <span class="pubName">
  {{ if and (eq (page.Language.Lang) "ja") (.ja) }}{{ .ja }}
  {{ else }}{{ .en }}{{ end }}
  </span>
{{ end }}
{{ with .volume }}<span class="vol">{{ . }}</span>,{{ end }}
{{ index . "starting_page" }}{{ with index . "ending_page" }}&ndash;{{ . }}{{ end }}
</p>
<p class="pubDate">{{ index . "publication_date" }}</p>

{{ range .identifiers.doi }}
  <p class="seeAlso"><span class="label">doi</span> <a href="https://doi.org/{{ . }}"><code class="doiID">{{ . }}</code></a></p>
{{ end }}
{{ with index . "see_also" }}
  {{ range $k, $v := where (where . "label" "ne" "doi") "is_downloadable" true }}
  <p class="seeAlso"><span class="label">{{ .label }}</span> <a href="{{ $k := index . "@id" }}">{{ $k }}</a></p>
  {{ end }}
{{ end }}
</div>

