{{ $url := "https://api.researchmap.jp/atsuyaw/published_papers" }}
{{ with resources.GetRemote $url }}
{{ $temp := slice }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ with $data := .Content | transform.Unmarshal }}
      {{ with index . "items" }}
        {{ with where . "published_paper_type" "scientific_journal" }}
          <ol reversed>
          {{ range sort . "publication_date" "desc" }}
            <li>{{ partial "papers" . }}</li>
          {{ end }}
          </ol>
        {{ end }}
        {{ with where . "published_paper_type" "ne" "scientific_journal" }}
          <ol>
          {{ range sort . "publication_date" "desc" }}
            <li>{{ partial "papers" . }}</li>
          {{ end }}
          </ol>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}



