{{ $url := "https://api.researchmap.jp/atsuyaw/published_papers" }}
{{ with resources.GetRemote $url }}
{{ $temp := slice }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ with $data := .Content | transform.Unmarshal }}
      {{ with index . "items" }}
        {{ with where . "published_paper_type" "scientific_journal" }}
        {{ range sort . "publication_date" "desc" }}
          <p>
          {{ range $k, $v:= .authors.en }}{{ if $k }}, {{ end }}{{ .name }}{{ end }}
          {{ with index . "paper_title" }}
            {{ .en }}<br>
          {{ end }}
          {{ range $k, $v:= .identifiers.doi }}{{ if $k }}<br>{{ end }}
            <!--<pre>{{ jsonify (dict "indent" "  ") . }}</pre>-->
            doi: <code>{{ . }}</code>
          {{ end }}
          </p>
        {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    <!-- range where . $atype "published_papers" -->
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}



